body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
div {
  display: block;
}
.logo {
   height: auto;
   width: auto;
   padding: 90px;
   margin-left: auto;
   margin-right: auto;
}

.input{
  height: 30px;
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.43);
  font-size: 12px;
  width: 100%;
}

.text-center{
  text-align: center;
}

.text-area{
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 198.5px;
  background-color:#E6E6E6;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.parent {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width:100%;
}

#movies img, #movie img{
  width:100%;
}

@media(min-width:960px){
  #movies .col-md-3 .well{
    height: 390px;
  }

  #movies .col-md-3 img{
    height:240px;
	  width: 240px;
	  text-align:center;
	  margin:auto;
  }
}

button {
  color: #e6e6e6;
  background: #0a0a0a;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 50px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

form{
  display: flex;
  width:1130px;
}

